# Godot-specific ignores
export.cfg
game/.godot/*

# Mono-specific ignores
.mono/
data_*/

# IDEs
.vscode
.idea
game/Fox_in_a_Firestorm.sln.DotSettings.user

# Outputs
builds
game/projects/*/obj/*
game/projects/*/bin/*

